body {
    background-color: #001747;
}

div {
    display: flex;
    justify-content: center;
}

#map {
    min-height: 80vh;
    width: 60vw;
    margin: 10vh auto;
    border-radius: 10px;
}

#infoWindow {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}